<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

<div class="page">

    <!-- Redirect to main page -->
    <a th:href="@{/main-page}" class="logo-link">
        <div class="logo">
            SmartCarCosts
        </div>
    </a>

    <div class="center-box">
        <h2>Create new account</h2>

        <!-- Registration form -->
        <form method="post" th:action="@{/register}" th:object="${registerRequest}">

            <!-- Email -->
            <div class="field-group">
                <label for="email">Email</label>
                <input id="email" type="email" th:field="*{email}">
                <p class="error"
                   th:text="${#fields.hasErrors('email') ? #fields.errors('email')[0] : ''}"></p>
                <p class="error" th:if="${emailExistsError}" th:text="${emailExistsError}"></p>
            </div>

            <!-- Password -->
            <div class="field-group">
                <label for="password">Password</label>
                <input id="password" type="password" th:field="*{password}">
                <p class="error"
                   th:text="${#fields.hasErrors('password') ? #fields.errors('password')[0] : ''}"></p>
            </div>

            <!-- Full name -->
            <div class="field-group">
                <label for="fullName">Full name</label>
                <input id="fullName" type="text" th:field="*{fullName}">
                <p class="error"
                   th:text="${#fields.hasErrors('fullName') ? #fields.errors('fullName')[0] : ''}"></p>
            </div>

            <!-- Country -->
            <select id="country" th:field="*{country}">
                <option value="">Select from the list</option>

                <option th:each="country : ${countries}"
                        th:value="${country.countryName}"
                        th:text="${country.countryName}">
                </option>
            </select>


            <button type="submit" class="btn-create">Create account</button>
        </form>

        <p class="login-link">
            Already have an account?
            <a th:href="@{/login}">Sign in</a>
        </p>
    </div>

</div>

</body>
</html>